.sub-section-details {
    position: relative;
    font-weight: 600;
  }
  .sub-section-details-wrapper {
    width: 10.94rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .check-icon {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .check-wrapper {
    border-radius: var(--br-41xl);
    background-color: var(--secondary-1);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }
  .cut-icon1 {
    position: relative;
    width: 1.88rem;
    height: 1.88rem;
  }
  .cut-wrapper,
  .frame-parent68 {
    display: flex;
    flex-direction: row;
  }
  .cut-wrapper {
    border-radius: var(--br-41xl);
    background-color: var(--accent-red-light);
    width: 2.5rem;
    height: 2.5rem;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .frame-parent68 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent67,
  .frame-wrapper13 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .frame-wrapper13 {
    border-radius: var(--br-xs) var(--br-xs) 0 0;
    background-color: var(--text-white);
    border-bottom: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    height: 3.75rem;
    flex-direction: column;
    padding: 0 var(--padding-mini);
    align-items: flex-start;
    justify-content: center;
  }
  .name-of-assessment {
    position: relative;
    font-weight: 500;
  }
  .name-of-assessment-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .frame-parent70,
  .name-of-assessment-wrapper,
  .type-here-wrapper {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .type-here-wrapper {
    border-radius: var(--br-5xs);
    background-color: var(--text-white);
    border: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    height: 3.13rem;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: row;
    padding: var(--padding-mini);
    align-items: center;
    color: var(--text-50);
  }
  .frame-parent70 {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-3xs);
  }
  .close-icon,
  .select-parent {
    overflow: hidden;
    flex-shrink: 0;
  }
  .select-parent {
    align-self: stretch;
    border-radius: var(--br-5xs);
    background-color: var(--text-white);
    border: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    height: 3.13rem;
    display: flex;
    flex-direction: row;
    padding: var(--padding-mini);
    align-items: center;
    justify-content: space-between;
    color: var(--text-50);
  }
  .close-icon {
    position: relative;
    border-radius: var(--br-mini);
    width: 1.13rem;
    height: 1.13rem;
  }
  .frame-wrapper15,
  .uiux-and-design-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .uiux-and-design-parent {
    justify-content: flex-start;
    gap: var(--gap-8xs);
  }
  .frame-wrapper15 {
    border-radius: var(--br-3xl);
    background-color: var(--accent-blue-light);
    padding: var(--padding-7xs) var(--padding-5xs) var(--padding-7xs)
      var(--padding-3xs);
    justify-content: flex-end;
  }
  .frame-parent75 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .frame-wrapper14 {
    border-radius: var(--br-5xs) var(--br-5xs) 0 0;
    border: 1px solid var(--system-divider);
    padding: var(--padding-base);
  }
  .frame-parent74,
  .frame-wrapper14,
  .type-here-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .type-here-container {
    border-radius: 0 0 var(--br-5xs) var(--br-5xs);
    border: 1px solid var(--system-divider);
    box-sizing: border-box;
    height: 3.13rem;
    padding: var(--padding-base);
    margin-top: -0.06rem;
    text-align: center;
    color: var(--text-50);
  }
  .frame-parent74 {
    text-align: left;
  }
  .keyboard-arrow-down-icon2 {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    flex-shrink: 0;
    opacity: 0;
  }
  .buttons,
  .frame-parent69 {
    align-self: stretch;
    display: flex;
    box-sizing: border-box;
  }
  .frame-parent69 {
    background-color: var(--text-white);
    height: 32.31rem;
    overflow-y: auto;
    flex-shrink: 0;
    flex-direction: column;
    padding: var(--padding-base) var(--padding-mini);
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.25rem;
    font-size: var(--font-size-xs);
  }
  .buttons {
    border-radius: var(--br-5xs);
    background-color: var(--secondary-1);
    height: 2.5rem;
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-11xl);
    align-items: center;
    justify-content: center;
  }
  .buttons-wrapper,
  .frame-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .buttons-wrapper {
    align-self: stretch;
    background-color: var(--text-white);
    border-top: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    height: 3.75rem;
    padding: var(--padding-6xs) var(--padding-base);
    justify-content: center;
    text-align: left;
    color: var(--text-white);
  }
  .frame-top {
    position: relative;
    box-shadow: 0-5px 19px rgba(0, 0, 0, 0.09);
    width: 23.44rem;
    justify-content: flex-start;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--primary-100);
    font-family: var(--font-inter);
  }
  